<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Welcome to Mindful K12!</h1>

      <br>

      <a href="<%= student_dashboard_path %>" class="btn btn-primary">Student Dashboard</a>
      &nbsp;&nbsp;&nbsp;
      <a href="<%= teacher_dashboard_path %>" class="btn btn-primary">Teacher Dashboard</a>
    </div>
  </div>
</div>
