<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Your <%= @assignment.assignment_type %> has been submitted!  Click <%= link_to('here', student_dashboard_path) %> to return to your dashboard.</h3>
    </div>
  </div>
</div>
