<div class="container">
  <div class="row-lg-12">
    <h1>Assignments</h1>
  </div>

  <div class="row-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Due</th>
        </tr>
      </thead>
      <tbody>
        <% @assignments.each do |assignment| %>
          <tr>
            <td><%= link_to(assignment.assignment_type, teacher_assignment_path(assignment)) %></td>
            <td><%= assignment.due %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
