<div class="container">
  <div class="row-lg-12">
    <h1>Dashboard</h1>
  </div>

  <div class="row-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Assignment Status</th>
          <th>Emotional Health Status</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= link_to(student.name, teacher_student_path(student)) %></td>
            <td><%= student.email %></td>
            <td><%= render('partials/boolean', { yes: student.has_done(@last_assignment) }) %></td>
            <td class="emotional-status-cell"><%= largest_hash_key(student.emotional_status)[0] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
